@font-face {
    font-family: 'bluee';
    src: url('../public/Bluerabbit-Regular.ttf');
  }
  
  .primeirasessao {
    h1 {
      z-index: 25;
      width: 100vw;
      display: flex;
      flex-direction: column;
      margin-top: 14.5rem;
      position: absolute;
      top: 0;
      align-items: center;
      font-size: 3rem;
      color: white;
      opacity: 0.8;
      font-family: bluee;

      @media (max-width:600px){
        font-size: 2.4rem;
        margin-top: 12rem; 
      }
    }

  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    margin-top: -27rem;
    margin-left: 8rem;

    @media (max-width: 600px) { 
        height: 20vh;     
      }
  }
  
  .segundasessao {
    z-index: 1;

  }
  
  .centralized-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem; 
    margin-top: -140rem;
    margin-left: 23rem;

    @media(max-width:600px){
      margin-top: -101rem;
    }

  }
  
  .segundasessao {
    max-width: 200px; 
    z-index: 1;
    margin-top: 19.2rem;

    @media(max-width:600px){
      margin-top: 20rem;
      margin-right: 6rem;
    }

  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    z-index: 200;
  
    button {
      padding: 0.5rem 2rem;
      font-size: 1rem;
      border: none;
      border-radius: 80px;
      cursor: pointer;
      background-color: #6e00a3;
      color: white;
      font-family: roboto;
  
      &:hover {
        background-color: #550180;
      }

      @media(max-width:600px){
        padding: 0.4rem 1rem; 
        width: 15vw; 
        font-size: 0.9rem; 
        radius: 40px; 
      }
    }

    @media (max-width: 600px) {
      gap: 5px;
    }
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin-top: -93.6rem; 
    z-index: 200;
  
    input {
      padding: 0.7rem;
      width: 15vw;
      margin-left: 47rem;
      font-size: 1rem;
      border-radius: 17px;
      border: 1px solid #ccc;
      z-index: 200;
      font-family: roboto;

      @media(max-width:600px){
        width: 90vw;
        margin-left: 0;
        padding: 0.35rem;
        font-size: 0.75rem;
      }
        
    }

      @media(max-width:600px){
        width: 90vw;
        margin-left: 0;
        padding: 0.35rem;
        font-size: 0.75rem;
    }
  }
  
  h2 {
    z-index: 25;
    width: 21vw;
    margin-left: 47rem;
    display: flex;
    flex-direction: column;
    margin-top: 28rem;
    position: absolute;
    top: 0;
    align-items: center;
    font-size: 2rem;
    border: 1px solid #adfc03;
    border-radius: 50px;
    color: white;
    font-family: roboto;




  }
  
  